:root {
    --dark-blue: #414479;
    --bg-color: #eefcff
}

/* custom css color */
.dark-blue {
    color: var(--dark-blue);
}

.custom-font {
    font-size: 1.5rem;
}

/* ====navbar==== */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* ====main====*/
.main {
    width: 100%;
    overflow-x: hidden;
}

/* ====hero section==== */
.hero {
    position: relative;
    height: 500px;
    overflow: hidden;
    background-image: url('../images/b.jpg');
    background-position: center;
    background-size: cover;
}

.hero img {
    object-fit: cover;
    height: 100%;
}

.hero-text {
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);


}

.logo {
    width: 200px;
}

.search-section {
    background-color: #eefcff !important;
    width: 850px;
    text-transform: capitalize;
    margin: 140px auto;
}

/*====about section== */
.about-text {
    color: var(--brown-text);
}

.about img {
    border-radius: 8px;
}

/*====serives  section== */
.serives-img {
    height: 300px;
}

/*====place section== */
.places {
    background-color: var(--bg-color);
}

.place-img {
    height: 300px;
}

.place-img img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.place-bg {
    background-color: #AFF5FF;
}

.overly {
    top: -500px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s;
}

.place-card:hover>.overly {
    top: 0;
    transition: all 0.5s;
}



/*=========why choose us section==========*/
.why-choose-us-box{
    background-color: var(--bg-color);
}
.why-choose-us {
    padding: 40px 0;
    text-align: center;
    position: relative;
}

.why-choose-us .highlight-box {
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    top: -20px;
}

.highlight-box {
    width: 800px;
}

.highlight-box h3{
    background-color: var(--bg-color);
    margin: auto;
    padding: 30px;
    width: 50%;
}

.why-choose-us h3 {
    margin-bottom: 20px;
    font-weight: bold;
}

.why-choose-us .stat {
    font-size: 24px;
    font-weight: bold;
    color: #1a1aff;
}

.why-choose-us .description {
    font-size: 14px;
    color: #333;
}


/*====contact section===*/
.contact-box {
    max-width: 600px;
    margin: auto;
}

/* ====clicent feedback section===== */
.feedbacks .card {
    border: none;
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

.review-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

/* partners section */
.partner-img {
    width: 90px;
}

.partner-img img {
    width: 100px;
    height: 100%;
    object-fit: cover;
}