* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');



:root {
    --dark-blue: #414479;
    --bg-color: #eefcff
}

/* loader animation */
/* Loader container */
#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
}

/* Spinner style */
.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #ccc;
    /* Light gray border */
    border-top: 6px solid #3498db;
    /* Blue border */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    /* Animation */
}

/* Spin animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Main content initially hidden */
main {
    display: none;
}


/* custom css color */
.dark-blue {
    color: var(--dark-blue);
}

.custom-font {
    font-size: 1.5rem;
}

/* ====navbar==== */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* ====main====*/
.main {
    width: 100%;
    overflow-x: hidden;
    font-family: "Shippori Mincho B1", serif;
    font-weight: 400;
    font-style: normal;
}

/* ====hero section==== */
.hero-section {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/banner-img.png');
    background-position: center;
    background-size: cover;
}



.logo {
    width: 200px;
}



.search-section {
    background-color: #eefcff !important;
    width: 850px;
    text-transform: capitalize;

}

/*====about section== */
.about-text {
    color: var(--brown-text);
}

.about img {
    border-radius: 8px;
}

/*====serives  section== */
.serives-img {
    height: 300px;
}

/*====place section== */
.places {
    background-color: var(--bg-color);
}

.place-img {
    height: 300px;
}

.place-img img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.place-bg {
    background-color: #AFF5FF;
}

.overly {
    top: -500px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s;
}

.place-card:hover>.overly {
    top: 0;
    transition: all 0.5s;
}



/*=========why choose us section==========*/
.why-choose-us-box {
    background-color: var(--bg-color);
}

.why-choose-us {
    padding: 40px 0;
    text-align: center;
    position: relative;

}

.why-choose-us .highlight-box {
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    top: -20px;
}

.highlight-box {
    width: 800px;
}

.highlight-box h3 {
    background-color: var(--bg-color);
    margin: auto;
    padding: 30px;
    width: 50%;
}

.why-choose-us h3 {
    margin-bottom: 20px;
    font-weight: bold;
}

.why-choose-us .stat {
    font-size: 24px;
    font-weight: bold;
    color: #1a1aff;
}

.why-choose-us .description {
    font-size: 14px;
    color: #333;
}


/*====contact section===*/
.contact-box {
    max-width: 600px;
    margin: auto;
}

/* ====clicent feedback section===== */
.feedbacks .card {
    border: none;
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

.review-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

/* partners section */
.partner-img {
    width: 90px;
}

.partner-img img {
    width: 100px;
    height: 100%;
    object-fit: cover;
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.6s;
}


.icon:hover>i {
    transform: rotate(-90deg);
    transition: all 0.6s;

}

.bootom-underline {
    border-bottom: 2px solid #f0eded;
    width: 200px;

}

/* why us section  */
.why-choose-us-section {
    margin: 100px auto;
}

/* choose text */
.choose-text {
    top: -80px;
}